body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f3f5f3;
  color: #222;  
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(255, 0, 0, 0.1);
}

.logo {
  font-weight: 700;
  color: #6b8e6b;
  font-size: 60px;
  margin-bottom: 2px; 
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #2e4732;
  font-weight: 500;
  font-size: 13px;
}

.nav ul li a:hover {
  color: white;
  background-color: #153816;
  border-radius: 5px;
  padding: 4px 8px;
}

.welcome {
  padding: 10px;
  margin-top: -40px;
}

.welcome h1 {
  font-size: 25px;
  font-weight: 800;
}

.carrusel {
  width: 100%;
  padding: 20px 10px;
}

.contenedor-carrusel {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.contenedor-carrusel::-webkit-scrollbar {
  height: 6px;
}

.contenedor-carrusel::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 3px;
}

.card {
  flex: 0 0 200px; 
  height: 265px;
  background: #b9d1b6;
  border-radius: 10px;
  text-align: center;
  scroll-snap-align: center;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.imagen {
  width: 100%;
  height: 150px;
  background-color: #9bbd99;
  border-radius: 5px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
}

.extra {
  background-color: #e6f1e4;
  padding: 2rem;
  text-align: center;
}

.cta {
  background-color: black;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #555;
}

.imagen-header {
  border-radius: 15px;
  margin:20px;
}
